<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxsc.dao.STORE_WAREMapper" >
  <resultMap id="BaseResultMap" type="com.wxsc.bean.STORE_WARE" >
    <id column="goodsId" property="goodsid" jdbcType="VARCHAR" />   
    <result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
    <result column="strore_num" property="strore_num" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodsId, goodsName, strore_num

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from store_ware
    where goodsId = #{goodsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from store_ware
    where goodsId = #{goodsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wxsc.bean.STORE_WARE" >
    insert into store_ware ( goodsId, goodsName, strore_num

      )
    values (#{goodsid,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{strore_num,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxsc.bean.STORE_WARE" >
    insert into store_ware
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="goodsName != null" >
        goodsName,
      </if>
      
      <if test="strore_num != null" >
        strore_num,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>   
      <if test="strore_num != null" >
        #{strore_num,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxsc.bean.STORE_WARE" >
    update store_ware
    <set >
       <if test="goodsName != null" >
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="strore_num != null" >
        strore_num = #{strore_num,jdbcType=DOUBLE},
      </if>
    </set>
    where goodsId = #{goodsid,jdbcType=VARCHAR}
  </update>
 
</mapper>