<!DOCTYPE html>

<html lang="en">

<head>
<meta http-equiv="charset" content="UTF-8">
<title>测试页面</title>
<!-- <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js" charset="utf-8"></script>
 --> 
  <script type="text/javascript" src="/wxsc/resource/js/jquery-2.2.4.min.js" charset="utf-8"></script>
 
 <script type="text/javascript" src="/wxsc/resource/js/test.js" charset="utf-8"></script>
 <script type="text/javascript" src="/wxsc/resource/js/description.js" charset="utf-8"></script>

</head>

<body>
<!-- 页面传入 -->
<button id="goodsid" onclick="test1()">shucai</button>
<button id="goodsid2" onclick="description()">1</button>

<div id ="myresult">

</div>
</body>
</html>